###### Shell Plugins ######

# ZSH enhancements
[submodule "oh-my-zsh"]
	path = oh-my-zsh
  url = git://github.com/robbyrussell/oh-my-zsh.git

###### VI Plugins #######

# VI plugin manager
[submodule "vim/bundle/vundle"]
	path = vim/bundle/vundle
  url = https://github.com/gmarik/vundle.git

# Color schemes
[submodule "vim/bundle/vim-colorschemes"]
  path = vim/bundle/vim-colorschemes
  url = https://github.com/flazz/vim-colorschemes.git

# Fancier VIM status bar
[submodule "vim/bundle/vim-rails"]
	path = vim/bundle/vim-rails
  url = git://github.com/tpope/vim-rails.git

# Directory tree with \nt
[submodule "vim/bundle/NERD_tree"]
	path = vim/bundle/NERD_tree
  url = git://github.com/scrooloose/nerdtree.git

# Fuzzy file finder
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
  url = https://github.com/kien/ctrlp.vim.git

# Autoformat Ruby / CSS /JS
[submodule "vim/bundle/vim-autoformat-rails"]
	path = vim/bundle/vim-autoformat-rails
  url = https://github.com/KurtPreston/vim-autoformat-rails.git

# Show recently opened files on load
[submodule "vim/bundle/vim-startify"]
	path = vim/bundle/vim-startify
  url = https://github.com/mhinz/vim-startify.git

# Undo tree viewing
[submodule "vim/bundle/gundo"]
	path = vim/bundle/gundo
  url = https://github.com/sjl/gundo.vim.git

# Fancy status bar
[submodule "vim/bundle/airline"]
	path = vim/bundle/airline
  url = https://github.com/bling/vim-airline.git

# Git integration
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
  url = https://github.com/tpope/vim-fugitive.git

# Clojure library support
[submodule "vim/bundle/vim-fireplace"]
	path = vim/bundle/vim-fireplace
  url = git://github.com/tpope/vim-fireplace.git

# Allow ,w to jump to next subword in variable
[submodule "vim/bundle/CamelCaseMotion"]
	path = vim/bundle/CamelCaseMotion
  url = https://github.com/bkad/CamelCaseMotion.git

# Automatically create 'end' when typing 'do'
[submodule "vim/bundle/vim-endwise"]
	path = vim/bundle/vim-endwise
  url = https://github.com/tpope/vim-endwise.git

# Rainbow parens
[submodule "vim/bundle/vim-niji"]
	path = vim/bundle/vim-niji
  url = https://github.com/vim-scripts/vim-niji.git

# Auto-match parens
[submodule "vim/bundle/paredit.vim"]
	path = vim/bundle/paredit.vim
  url = https://github.com/vim-scripts/paredit.vim.git

# Run rspec tests in VIM
[submodule "vim/bundle/ruby_focused_unit_test_vim"]
	path = vim/bundle/ruby_focused_unit_test_vim
  url = https://github.com/drewolson/ruby_focused_unit_test_vim.git

# Auto-comment code
[submodule "vim/bundle/tcomment"]
	path = vim/bundle/tcomment
  url = https://github.com/tomtom/tcomment_vim.git

# Fix period character repeat with plugins
[submodule "vim/bundle/repeat.vim"]
	path = vim/bundle/repeat.vim
  url = https://github.com/tpope/vim-repeat.git

# Allow terminal-style key bindings (i.e. ctrl + a)
[submodule "vim/bundle/vim-rsi"]
	path = vim/bundle/vim-rsi
  url = https://github.com/tpope/vim-rsi.git

# Faster loading when editing extremely large files
[submodule "vim/bundle/LargeFile"]
	path = vim/bundle/LargeFile
	url = https://github.com/vim-scripts/LargeFile.git

####### VI Syntax Highlighting ########

# Syntax alerts on save
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git

# Ruby syntax highlighting
[submodule "vim/bundle/vim-ruby"]
	path = vim/bundle/vim-ruby
  url = https://github.com/vim-ruby/vim-ruby.git

# HTML highlighting
[submodule "vim/bundle/vim-ragtag"]
	path = vim/bundle/vim-ragtag
  url = https://github.com/tpope/vim-ragtag.git

# .JST syntax highlighting support
[submodule "vim/bundle/vim-jst"]
	path = vim/bundle/vim-jst
  url = https://github.com/briancollins/vim-jst.git

# Less file support
[submodule "vim/bundle/vim-less"]
	path = vim/bundle/vim-less
  url = https://github.com/lunaru/vim-less.git

# .TS file support
[submodule "vim/bundle/typescript-vim"]
	path = vim/bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git

# .MD markdown support
[submodule "vim/bundle/vim-markdown"]
	path = vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown

# Cucumber file support
[submodule "vim/bundle/vim-cucumber"]
	path = vim/bundle/vim-cucumber
	url = https://github.com/tpope/vim-cucumber.git

# CoffeeScript support
[submodule "vim/bundle/vim-coffee-script"]
	path = vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git

# Puppet syntax
[submodule "vim/bundle/puppet-syntax-vim"]
	path = vim/bundle/puppet-syntax-vim
  url = https://github.com/puppetlabs/puppet-syntax-vim.git

# Handlebars (HBS file) syntax
[submodule "vim/bundle/vim-handlebars"]
	path = vim/bundle/vim-handlebars
  url = https://github.com/nono/vim-handlebars.git

# Jade file syntax
[submodule "vim/bundle/vim-jade"]
	path = vim/bundle/vim-jade
  url = https://github.com/digitaltoad/vim-jade.git

# Emblem file syntax
[submodule "vim/bundle/vim-emblem"]
	path = vim/bundle/vim-emblem
	url = https://github.com/heartsentwined/vim-emblem.git

# Clojure syntax support
[submodule "vim/bundle/vim-clojure-static"]
	path = vim/bundle/vim-clojure-static
  url = https://github.com/guns/vim-clojure-static.git

# Slim file support
[submodule "vim/bundle/vim-slim"]
	path = vim/bundle/vim-slim
  url = https://github.com/slim-template/vim-slim.git

# Better JavaScript indentation
[submodule "vim/bundle/JavaScript-Indent"]
	path = vim/bundle/JavaScript-Indent
  url = https://github.com/KurtPreston/JavaScript-Indent.git

# HAML / SCSS support
[submodule "vim/bundle/vim-haml"]
	path = vim/bundle/vim-haml
	url = https://github.com/tpope/vim-haml.git
