###### Shell Plugins ######

# ZSH enhancements
[submodule "oh-my-zsh"]
	path = oh-my-zsh
  url = git://github.com/robbyrussell/oh-my-zsh.git

###### VI Plugins #######

# VI plugin manager
[submodule "vim/bundle/vundle"]
	path = vim/bundle/vundle
  url = https://github.com/gmarik/vundle.git

# Color schems
[submodule "vim/bundle/vim-colorschemes"]
  path = vim/bundle/vim-colorschemes
  url = https://github.com/flazz/vim-colorschemes.git

# Fancier VIM status bar
[submodule "vim/bundle/vim-rails"]
	path = vim/bundle/vim-rails
  url = git://github.com/tpope/vim-rails.git

# Directory tree with \nt
[submodule "vim/bundle/NERD_tree"]
	path = vim/bundle/NERD_tree
  url = git://github.com/scrooloose/nerdtree.git

# Fuzzy file finder
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
  url = https://github.com/kien/ctrlp.vim.git

# Autoformat Ruby / CSS /JS
[submodule "vim/bundle/vim-autoformat-rails"]
	path = vim/bundle/vim-autoformat-rails
  url = https://github.com/KurtPreston/vim-autoformat-rails.git

# Show recently opened files on load
[submodule "vim/bundle/vim-startify"]
	path = vim/bundle/vim-startify
  url = https://github.com/mhinz/vim-startify.git

# Undo tree viewing
[submodule "vim/bundle/gundo"]
	path = vim/bundle/gundo
  url = https://github.com/sjl/gundo.vim.git

# Fancy status bar
[submodule "vim/bundle/airline"]
	path = vim/bundle/airline
  url = https://github.com/bling/vim-airline.git

# Git integration
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git

####### VI Syntax Highlighting ########

# Syntax alerts on save
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git

# Ruby syntax highlighting
[submodule "vim/bundle/vim-ruby"]
	path = vim/bundle/vim-ruby
  url = https://github.com/vim-ruby/vim-ruby.git

# HTML highlighting
[submodule "vim/bundle/vim-ragtag"]
	path = vim/bundle/vim-ragtag
  url = https://github.com/tpope/vim-ragtag.git

# .JST syntax highlighting support
[submodule "vim/bundle/vim-jst"]
	path = vim/bundle/vim-jst
  url = https://github.com/briancollins/vim-jst.git

# Less file support
[submodule "vim/bundle/vim-less"]
	path = vim/bundle/vim-less
  url = https://github.com/lunaru/vim-less.git

# .TS file support
[submodule "vim/bundle/typescript-vim"]
	path = vim/bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git

# .MD markdown support
[submodule "vim/bundle/vim-markdown"]
	path = vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown

# Cucumber file support
[submodule "vim/bundle/vim-cucumber"]
	path = vim/bundle/vim-cucumber
	url = https://github.com/tpope/vim-cucumber.git

# CoffeeScript support
[submodule "vim/bundle/vim-coffee-script"]
	path = vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git

# Puppet syntax
[submodule "vim/bundle/puppet-syntax-vim"]
	path = vim/bundle/puppet-syntax-vim
  url = https://github.com/puppetlabs/puppet-syntax-vim.git

# Handlebars (HBS file) syntax
[submodule "vim/bundle/vim-handlebars"]
	path = vim/bundle/vim-handlebars
  url = https://github.com/nono/vim-handlebars.git

# Clojure support
[submodule "vim/bundle/vim-fireplace"]
	path = vim/bundle/vim-fireplace
  url = git://github.com/tpope/vim-fireplace.git
